.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    max-width: 250px;
    padding: 1rem;
    background-color: #3E5346;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        /* Full width for smaller screens */
        height: auto;
        /* Adjust height for smaller screens */
        order: -1;
    }
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #2B3D33;
}