.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    /* Adjust the height as needed */
}

.error {
    /* Your styles for the error message */
    padding: 8px;
    background-color: #ffcccc;
    color: #ff0000;
    border: 1px solid #ff0000;
    font-size: 14px;
    /* Adjust the font size as needed */
    text-align: center;
    /* Center-align text */
    max-width: 80%;
    /* Limit the maximum width of the error message */
}

.text {
    font-size: 48px;
    font-weight: 700;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    align-self: center;
    height: 50px;
    width: 100%;
    /* Adjusted to 100% of the parent container */
    max-width: 800px;
    /* Maximum width to ensure fields don't get too wide */
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    align-self: center;
    height: 50px;
    width: 100%;
    /* Adjusted to 100% of the parent container */
    max-width: 800px;
    /* Maximum width to ensure fields don't get too wide */
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

#signInGoogleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.phone-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    /* Consistent height */
    color: #fff;
    background-color: #3E5346;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    width: 50%;
    /* Consistent width */
    max-width: 300px;
    /* Consistent max width */
    margin: 10px auto;
    /* Centers the button and adds margin on top and bottom */
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #3E5346;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background-color: #EAEAEA;
    color: #676767;
}