.event-list-container {
  margin-top: 20px;
}

.event-list-title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-list-item:hover {
  background-color: #d9d9d9;
}

.event-title {
  font-weight: bold;
}

.event-time {
  font-weight: normal;
  color: #555;
}
.travel-mode-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.travel-mode-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.travel-mode-container select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}


@media (max-width: 600px) {
  .travel-mode-container {

  }
}