.map-page-container {
  display: flex;
}

.event-list-sidebar {
  width: 25%;
  background-color: #c1ffd5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.date-picker-container {
  margin-bottom: 10px;
}

.create-map-button-container {
  margin-bottom: 20px;
}

.create-map-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-map-button:hover {
  background-color: #0056b3;
}

.no-events-text {
  text-align: center;
  color: #666;
}

.map-container {
  width: 75%;
  height: 100vh;
}

.control-panel {
  padding: 10px;
  background-color: #f9f9f9;
}

.travel-mode-container {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.travel-mode-container label {
  margin-bottom: 5px;
  display: block;
}

.travel-mode-container select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-map-button-container {
  margin-top: 10px;
}

.create-map-button {
  width: 100%;
}

.travel-mode-container select option {
  padding: 5px;
}

@media (max-width: 600px) {
  .travel-mode-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .travel-mode-container label {
    margin-bottom: 5px;
  }

  .travel-mode-container select {
    width: 100%;
  }
}
