  .filter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items horizontally */
  }

  .form-group {
    display: flex;
    align-items: center;
    /* Center labels vertically */
    justify-content: center;
    /* Center items horizontally */
    margin-bottom: 10px;
  }

  label {
    min-width: 80;
    /* Adjust the width as needed */
    margin-right: 10px;
  }