/* FindExistingFriends.css */

.FEF-page-container {
    display: flex;
  }
.friend-list-sidebar {
    width: 25%;
    background-color: #c1ffd5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
  
  .curr-friend-list {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .curr-friend-list span {
    display: block;
    margin-bottom: 5px;
  }